<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Añadir Superheroe</title>
</head>

<body class="bg-pink-950 text-gray-200">

    <!-- Mostrar mensaje de éxito si se ha pasado desde el backend -->
    <% if (typeof successMessage !== "undefined" && successMessage) { %>
        <div id="mensajeExitoso" class="text-lg text-[#008000] bg-[#e0ffe0] text-center m-auto p-3">
            <%= successMessage %>
            <button type="button" onclick="this.parentElement.classList.add('hidden')" class="absolute top-0 right-4">x</button>
        </div>
    <% } %>
    
    <!-- Mostrar mensaje de error si se ha pasado desde el backend -->
    <% if (typeof errorMessage !== "undefined" && errorMessage) { %>
        <div id="mensajeExitoso" class="text-lg text-[#ff0000] bg-[#ffe0e0] text-center m-auto p-3">
            <%= errorMessage %>
            <button type="button" onclick="this.parentElement.classList.add('hidden')" class="absolute top-0 right-4">x</button>
        </div>
    <% } %>

    <h2 class="m-8 text-center text-2xl">Crear nuevo Superheroe</h2>
    <form action="/api/heroes/agregar" method="POST" class="w-2/6 m-auto">

        <label for="nombreSuperHeroe" class="focus-within:text-rose-500 flex flex-col my-2">Nombre del Superhéroe: 
            <input type="text" class="bg-slate-300 rounded-lg my-2 h-8 outline-none focus:ring-2 focus:ring-rose-700 p-2 text-center text-black" 
            id="nombreSuperHeroe" name="nombreSuperHeroe" minlength="3" maxlength="60" required>
        </label>
        
        <label for="nombreReal" class="focus-within:text-rose-500 flex flex-col my-2">Nombre Real:
            <input type="text" class="bg-slate-300 rounded-lg my-2 h-8 outline-none focus:ring-2 focus:ring-rose-700 p-2 text-center text-black" 
            id="nombreReal" name="nombreReal" minlength="3" maxlength="60" required>
        </label>

        <label for="edad" class="focus-within:text-rose-500 flex flex-col my-2">Edad:
            <input type="number" onkeydown="return !['e', 'E', '+', '-'].includes(event.key)" class="bg-slate-300 rounded-lg my-2 h-8 outline-none focus:ring-2 focus:ring-rose-700 p-2 text-center text-black appearance-none" 
            id="edad" name="edad" min="0" required>
        </label>
        
        <label for="planetaOrigen" class="focus-within:text-rose-500 flex flex-col my-2">Planeta de Origen:
            <input type="text" class="bg-slate-300 rounded-lg my-2 h-8 outline-none focus:ring-2 focus:ring-rose-700 p-2 text-center text-black" 
            id="planetaOrigen" name="planetaOrigen" required>
        </label>

        <label for="debilidad" class="focus-within:text-rose-500 flex flex-col my-2">Debilidad:
            <input type="text" class="bg-slate-300 rounded-lg my-2 h-8 outline-none focus:ring-2 focus:ring-rose-700 p-2 text-center text-black" 
            id="debilidad" name="debilidad" required>
        </label>

        <label for="poderes" class="focus-within:text-rose-500 flex flex-col my-2">Poderes:
            <input type="text" class="bg-slate-300 rounded-lg my-2 h-8 outline-none focus:ring-2 focus:ring-rose-700 p-2 text-center text-black placeholder-gray-600 focus:placeholder-transparent" 
            id="poderes" name="poderes" placeholder="Ej. volar, super fuerza, ..." required>
        </label>
        
        <label for="aliados" class="focus-within:text-rose-500 flex flex-col my-2">Aliados:
            <input type="text" class="bg-slate-300 rounded-lg my-2 h-8 outline-none focus:ring-2 focus:ring-rose-700 p-2 text-center text-black placeholder-gray-600 focus:placeholder-transparent" 
            id="aliados" name="aliados" placeholder="Ej. aliado1, aliado2, ..." required>
        </label>
        
        <label for="enemigos" class="focus-within:text-rose-500 flex flex-col my-2">Enemigos:
            <input type="text" class="bg-slate-300 rounded-lg my-2 h-8 outline-none focus:ring-2 focus:ring-rose-700 p-2 text-center text-black placeholder-gray-600 focus:placeholder-transparent" 
            id="enemigos" name="enemigos" placeholder="Ej. enemigo1, enemigo2, ..." required>
        </label>

        <label for="creador" class="focus-within:text-rose-500 flex flex-col my-2">Creador:
            <input type="text" class="bg-slate-300 rounded-lg my-2 h-8 outline-none focus:ring-2 focus:ring-rose-700 p-2 text-center text-black placeholder-gray-600 focus:placeholder-transparent" 
            id="creador" name="creador" placeholder="Ej. El Estropajo">
        </label>

        <button type="submit" class="w-full mt-8 mb-12 h-10 border-2 rounded-xl hover:bg-rose-900 hover:shadow-md hover:shadow-rose-700 hover:border-0">Crear Superhéroe</button>

    </form>
</body>
</html>