<section class="w-full bg-pink-950 text-gray-200">

    <h2 class="p-8 text-center text-2xl">Crear nuevo Superheroe</h2>

    <form action="/api/heroes/agregar" method="POST" class="w-2/6 m-auto">

        <label for="nombreSuperHeroe" class="focus-within:text-rose-500 flex flex-col my-2">Nombre del Superhéroe: 
            <input type="text" class="bg-slate-300 rounded-lg my-2 h-8 outline-none focus:ring-2 focus:ring-rose-700 p-2 text-center text-black" 
            id="nombreSuperHeroe" name="nombreSuperHeroe" required>
        </label>
        
        <label for="nombreReal" class="focus-within:text-rose-500 flex flex-col my-2">Nombre Real:
            <input type="text" class="bg-slate-300 rounded-lg my-2 h-8 outline-none focus:ring-2 focus:ring-rose-700 p-2 text-center text-black" 
            id="nombreReal" name="nombreReal" required>
        </label>

        <label for="edad" class="focus-within:text-rose-500 flex flex-col my-2">Edad:
            <input type="number"  class="bg-slate-300 rounded-lg my-2 h-8 outline-none focus:ring-2 focus:ring-rose-700 p-2 text-center text-black appearance-none" 
            id="edad" name="edad" required>
        </label>
        
        <label for="planetaOrigen" class="focus-within:text-rose-500 flex flex-col my-2">Planeta de Origen:
            <input type="text" class="bg-slate-300 rounded-lg my-2 h-8 outline-none focus:ring-2 focus:ring-rose-700 p-2 text-center text-black" 
            id="planetaOrigen" name="planetaOrigen" required>
        </label>

        <label for="debilidad" class="focus-within:text-rose-500 flex flex-col my-2">Debilidad:
            <input type="text" class="bg-slate-300 rounded-lg my-2 h-8 outline-none focus:ring-2 focus:ring-rose-700 p-2 text-center text-black" 
            id="debilidad" name="debilidad" required>
        </label>

        <label for="poderes" class="focus-within:text-rose-500 flex flex-col my-2">Poderes:
            <input type="text" class="bg-slate-300 rounded-lg my-2 h-8 outline-none focus:ring-2 focus:ring-rose-700 p-2 text-center text-black placeholder-gray-600 focus:placeholder-transparent" 
            id="poderes" name="poderes" placeholder="Ej. volar, super fuerza, ..." required>
        </label>
        
        <label for="aliados" class="focus-within:text-rose-500 flex flex-col my-2">Aliados:
            <input type="text" class="bg-slate-300 rounded-lg my-2 h-8 outline-none focus:ring-2 focus:ring-rose-700 p-2 text-center text-black placeholder-gray-600 focus:placeholder-transparent" 
            id="aliados" name="aliados" placeholder="Ej. aliado1, aliado2, ..." required>
        </label>
        
        <label for="enemigos" class="focus-within:text-rose-500 flex flex-col my-2">Enemigos:
            <input type="text" class="bg-slate-300 rounded-lg my-2 h-8 outline-none focus:ring-2 focus:ring-rose-700 p-2 text-center text-black placeholder-gray-600 focus:placeholder-transparent" 
            id="enemigos" name="enemigos" placeholder="Ej. enemigo1, enemigo2, ..." required>
        </label>

        <label for="creador" class="focus-within:text-rose-500 flex flex-col my-2">Creador:
            <input type="text" class="bg-slate-300 rounded-lg my-2 h-8 outline-none focus:ring-2 focus:ring-rose-700 p-2 text-center text-black placeholder-gray-600 focus:placeholder-transparent" 
            id="creador" name="creador" placeholder="Ej. El Estropajo">
        </label>

        <button type="submit" class="w-full mt-8 mb-12 h-10 border-2 rounded-xl hover:bg-rose-900 hover:shadow-md hover:shadow-rose-700 hover:border-0">Crear Superhéroe</button>

    </form>
    
</section>