<section class="m-auto text-slate-100">
    <h1 class="text-3xl">Bienvenidos al mundo de los Superhéroes!</h1>
</section>
<!-- <div class="mx-auto">
        <h2 class="mx-auto w-1/2 text-xl">Casa robada presenta:</h2>
        <p class="mx-auto w-1/2 text-lg">Nos adentramos en el pintoresco mundo de los Antiheroes y los posibles heroes mas patriotas a
            sus bolsillo que a su bandera, ellos viven en una divertida dinámica de efectos colaterales, Juegos,
            travesuras y un emrador que regira el destino de miles de personas, cordura, desencantos y muchas
            incoherencias en estas hermosas variables de acontecimientos, no te pierdas la historia de nuestros heroes...
        </p>
    </div> -->