<nav class="sticky top-0 h-fit text-slate-100 bg-slate-950">
    <div class=" h-full flex items-center px-6 py-3 relative">
        <a href="/api/view/index">
            <img src="/logos/logo.png" alt="Logo" class="w-9 h-9">
        </a>
        <ul class="flex gap-10 absolute justify-center inset-x-0 px-6">
            <li>
                <a href="/api/view/index" class="flex text-center place-items-center">
                    <img src="/icons/casa-48-verde.png" class="h-6 m-2" alt="Inicio Icon">
                    Inicio
                </a>
            </li>
            <li>
                <a href="/api/view/agregar" class="flex text-center place-items-center">
                    <img src="/icons/mas-48-verde.png" class="h-6 m-2" alt="Inicio Icon">
                    Crear Superhéroe
                </a>
            </li>
            <li>
                <a href="/api/view/heroes/dashboard" class="flex text-center place-items-center">
                    <img src="/icons/lista-48-verde.png" class="h-6 m-2" alt="Inicio Icon">
                    Lista Superhéroes
                </a>
            </li>
        </ul>
    </div>
</nav>